/* Japanese specific style overrides */
@font-face {
/*	font-family: 'Mincho';
	src: url('../../presentation-engine/fonts/MS Mincho.ttf') format('truetype');*/
	font-family: 'IPAPGothic';
	src: url('../../presentation-engine/fonts/ipagp.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

#presenter {
	font-family: 'IPAPGothic' !important;
}

p, div, li, td, h1, h2, h3, h4, h5 { font-family: 'IPAPGothic' !important;}

#reveal h1, #reveal h2, #reveal h3, #reveal h4{
    font-size: 1.7em;
    padding-bottom: 0.5em;
    line-height: 120%;
}

section a{
    text-decoration: none !important;
}
